/*
http://paletton.com/#uid=53i0u0k00n-bG6E0idM01Di00++
http://startbootstrap.com/template-overviews/simple-sidebar/
*/
body{
background-color:#717171;
font-family:Verdana, Geneva, sans-serif;
font-size:12pt;
}
#menu-toggle, .nav, #sidebar-wrapper{
position:fixed;
}
#menu-toggle, .nav, .heading{
background-color:#B3B3B3;
}
#menu-toggle, #wrapper, #sidebar-wrapper{
transition:all 0.5s ease 0s;
}
#wrapper.toggled #sidebar-wrapper, .sidebar-nav{
width:300px;
}
.sidebar-nav, #page-content-wrapper, #wrapper.toggled #page-content-wrapper{
position:absolute;
}
a, a:hover, a:active, a:visited{
color:#142020;
text-decoration:none;
}
a:hover, #menu-toggle, .heading, li.node{
color:#142020;
}
div.content a{
text-decoration:underline;
}
.logo{
width:100px;
}
#menu-toggle{
margin-top:2px;
margin-left:-5px;
z-index:15;
}
ol, ul{
padding-left:10px;
}
li{
line-height:25px;
}
.collapse li, .collapsing li{
text-indent:35px;
}
.collapse li a, #res + .content ol li a{
display:block;
}
li a:hover{
background:#717171 none repeat scroll 0 0;
}
li.node{
text-indent:15px;
}
li.node:before{
content:'- ';
}
li.node.collapsed:before{
content:'+ ';
}
.nav{
display:none;
border:1px solid #142020;
border-radius:10px;
top:5px;
right:-10px;
padding:5px 15px 5px 10px;
z-index:5;
}
.nav a{
padding:5px;
}
#wrapper{
padding-left:0px;
}
#sidebar-wrapper{
background:#B3B3B3 none repeat scroll 0 0;
height:100%;
left:300px;
margin-left:-300px;
overflow-x:hidden;
overflow-y:auto;
width:0;
max-width:300px;
z-index:10;
}
#wrapper.toggled #menu-toggle{
margin-left:242px;
}
#page-content-wrapper{
padding:50px 15px 15px 60px;
width:100%;
}
#wrapper.toggled #page-content-wrapper{
margin-right:-300px;
}
.sidebar-brand a:hover{
background:none;
}
.sidebar-nav .sidebar-brand{
margin-top:20px;
height:150px;
}
.heading{
border-radius:10px;
text-align:center;
margin-left:-70px;
}
.desc, .content{
color:#142020;
}
.content{
margin:20px 0px 20px -50px;
}
@media (min-width:768px){
ol, ul{
padding-left:20px;
}
li{
line-height:35px;
}
#wrapper{
padding-left:300px;
}
#wrapper.toggled{
padding-left:0px;
}
#sidebar-wrapper{
width:300px;
}
#wrapper.toggled #sidebar-wrapper{
width:0;
}
#menu-toggle{
margin-left:-55px;
}
#wrapper.toggled #menu-toggle{
margin-left:-5px;
}
#page-content-wrapper{
padding:50px 20px 20px 70px;
position:relative;
}
#wrapper.toggled #page-content-wrapper{
margin-right:0;
position:relative;
}
.nav{
display:block;
}
.heading{
border-radius:20px;
margin-left:-90px;
}
.content{
margin:20px 50px 20px 0px;
}
}
